*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  min-height: 1000vh;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(
      rgba(201, 121, 30, 0.856),
      rgba(95, 64, 17, 0.767)
    ),
    url(img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
  border: 1px blue solid;
  /* color:white; */
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .icon {
  width: 25px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  cursor: pointer;
  display: none;
}
header .icon span {
  background-color: #222;
  margin-bottom: 5px;
  height: 2px;
  width: 100%;
  transition: 0.3s;
}
header .icon span:nth-child(2) {
  width: 60%;
}
header .icon:hover span:nth-child(2) {
  width: 100%;
}
.header ul {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: space-between;
  background: rgb(11, 59, 148);
  margin-left: 100px;
  max-width: 500px;
}
@media (max-width: 768px) {
  .header ul {
    display: none;
  }
  .header .icon {
    display: flex;
  }
}
